.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
	display:block;
}

h1 {
  text-align: center;
	color: #000000;
  font-family: "Arial", sans-serif;
}

h2 {
	text-align: center;
	color: #000000;
  font-family: "Arial", sans-serif;
}

p {
  text-align: center;
	color: #000000;
  font-family: "Arial", sans-serif;
}

a {
    text-decoration: none;
}
