.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
	display:block;
}

h1 {
  text-align: center;
	color: #ffffff;
  font-family: "Arial", sans-serif;
}

h2 {
	text-align: center;
	color: #ffffff;
  font-family: "Arial", sans-serif;
}

p {
  text-align: center;
	color: #ffffff;
  font-family: "Arial", sans-serif;
}

a {
    text-decoration: none;
}

a {
  text-align: center;
  font-family: "Arial", sans-serif;
}

a:link {
  color: #87ffff;
}
a:visited {
  color: #e0abff;
}
a:hover {
  color: white;
}
a:active {
  color: #ff5e5e;
}
